/* Archivo: static/style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #312897;
    color: #fff;
    text-align: center;
    padding: 2em; /* Ajusta el padding según sea necesario */
    height: 230px; /* Ajusta la altura según sea necesario */
    box-sizing: border-box; /* Incluye el padding en el cálculo de la altura */
}
h1 {
    font-size: 45px; /* Tamaño de fuente más grande */
    font-family: Arial, sans-serif; /* Cambio de tipo de fuente */
}
header h1,  header h3 {
    margin: 0; /* Elimina el margen superior e inferior */
    padding: 0; /* Elimina el relleno */
}


/* En tu archivo style.css */




nav {
    background-color: #f6f3f3;
    overflow: hidden;
}

.logo img {
    height: 100px; /* Tamaño deseado para el logo */
    display: block; /* Para centrar verticalmente */
    margin: auto; /* Para centrar verticalmente */
}
nav ul {
    list-style: none;
    margin: 2;
    padding: 0;
    background-color: #f7f1f1; /* Fondo gris oscuro */
    overflow: hidden;
    text-align: center; /* Centra los elementos horizontalmente */
}

nav li {
    display: inline-block;
    margin-right: 20px; /* Ajusta el espacio entre elementos según sea necesario */

}

nav a {
    display: block;
    
    padding: 1em;
    text-decoration: none;
    color: #3829aa; /* Texto blanco */
}

nav a:hover {
    background-color: #d2cdcd; /* Cambio de color al pasar el ratón */
}

section {
    margin: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

section h2 {
   /* border-bottom: 2px solid #333;*/
    padding-bottom: 0.5em;
}

.contact-info {
    position: absolute;
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    color: #555; /* Color del texto */
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 2em; /* Ajusta este valor según sea necesario */
}

#titulo-servicios {
    text-align: center; /* Centra el texto */
    font-size: 40px; /* Aumenta el tamaño de la letra */
}

li img {                    /*IMAGENES*/
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantén la proporción de aspecto */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}
/* En tu archivo style.css */
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Una columna con ancho mínimo de 200px */
    gap: 20px; /* Espacio entre las imágenes */
}

/* En tu archivo style.css */
/* En tu archivo style.css */
/* En tu archivo style.css */
#services {
    display: flex;
    flex-direction: column; /* Establece la dirección de los elementos flexibles */
}

.service {
    display: flex;
    flex-direction: row; /* Establece la dirección de los elementos flexibles */
    margin-bottom: 20px; /* Espacio entre los servicios */
}

.service img {
    width: 400px; /* Ancho deseado para la imagen */
    margin-right: 20px; /* Espacio entre la imagen y la información del servicio */
}

.service-info {
    display: flex;
    flex-direction: column; /* Establece la dirección de los elementos flexibles */
}

/* Invierte el orden de los elementos en los servicios impares */
.service:nth-child(odd) img {
    order: 2;
}

.service:nth-child(odd) .service-info {
    order: 1;
}






/* En tu archivo style.css */
#Trabajos {
    text-align: center;
}

.work-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.work {
    flex: 1;
    text-align: left;
}
h4
{font-size: 40px;
    text-align: center;

}

h2 {
    font-size: 32px; /* Tamaño de letra más grande para el encabezado */
    font-family: Arial, sans-serif; /* Cambia la fuente si lo deseas */
    text-align: center;
}

h3 {
    font-size: 24px; /* Tamaño de letra más grande para los títulos */
    font-family: Arial, sans-serif; /* Cambia la fuente si lo deseas */
    text-align: center;
}

p {
    font-size: 18px; /* Tamaño de letra más grande para el texto */
    line-height: 1.6; /* Ajuste del espaciado entre líneas */
}


/* En tu archivo style.css */
#otros-servicios {
    font-family: Arial, sans-serif; /* Cambia la fuente si lo deseas */
}

#otros-servicios h2 {
    font-size: 28px; /* Tamaño de letra más grande para el encabezado */
    margin-bottom: 20px; /* Espacio inferior entre el encabezado y la lista */
}

.two-column-list {
    display: flex;
    flex-wrap: wrap;
}

.two-column-list li {
    flex: 0 0 calc(50% - 10px); /* Ancho de 50% con espacio entre columnas */
    margin-bottom: 10px; /* Espacio inferior entre elementos */
    padding: 5px; /* Espaciado interno */
}


#about-us {
    text-align: center; /* Para centrar el contenido */
}

#about-us p {
    text-align: justify; /* Para justificar el texto */
    margin: 0 auto; /* Para centrar el texto */
    max-width: 1000px; /* Establece el ancho máximo del texto para que no se extienda demasiado */
}