/* Archivo: static/style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #291ea8;
    color: #fff;
    text-align: center;
    padding: 2em; /* Ajusta el padding según sea necesario */
    height: 200px; /* Ajusta la altura según sea necesario */
    box-sizing: border-box; /* Incluye el padding en el cálculo de la altura */
}

nav {
    background-color: #f6f3f3;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 2;
    padding: 0;
    background-color: #f7f1f1; /* Fondo gris oscuro */
    overflow: hidden;
    text-align: center; /* Centra los elementos horizontalmente */
}

nav li {
    display: inline-block;
    margin-right: 20px; /* Ajusta el espacio entre elementos según sea necesario */

}

nav a {
    display: block;
    
    padding: 1em;
    text-decoration: none;
    color: #3829aa; /* Texto blanco */
}

nav a:hover {
    background-color: #d2cdcd; /* Cambio de color al pasar el ratón */
}

section {
    margin: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

section h2 {
   /* border-bottom: 2px solid #333;*/
    padding-bottom: 0.5em;
}

.contact-info {
    position: absolute;
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    color: #555; /* Color del texto */
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 2em; /* Ajusta este valor según sea necesario */
}

