<!DOCTYPE html>
<html lang="es">

<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Mi Negocio de Mantenimiento de Motores Eléctricos</title>
</head>
<body>
    <header>
        <h1>Mantenimiento y Reparación de Motores Eléctricos asistido po computadors</h1>
        <p>Embobinados MTZ centro de servicio</p>
    </header>

    <section id="services">
        <h2>Nuestros Servicios</h2>
        <ul>
            <li>Mantenimiento  preventivo asistido por computadora</li>
            <li>Mantenimiento Preventivo</li>
            <li>Embobinado y Reparación de Motores Eléctricos</li>
            <li>Monitoreo, Inspección y Diagnóstico con Inteligencia artificial</li>
            <li>Optimización de Eficiencia</li>
        </ul>
    </section>

    <section id="about-us">
        <h2>Sobre Nosotros</h2>
        <p>Somos un equipo de expertos en mantenimiento y reparación de motores eléctricos, comprometidos con la calidad y la eficiencia. Con años de experiencia en el campo, garantizamos soluciones confiables para tus necesidades.</p>
    </section>

    <section id="contact">
        <h2>Contacto</h2>
        <p>¡Contáctanos para obtener más información o programar nuestros servicios!</p>
        <address>
            Dirección: <strong>Tu Dirección</strong><br>
            Teléfono: <strong>Tu Número de Teléfono</strong><br>
            Correo Electrónico: <strong>tucorreo@example.com</strong>
        </address>
    </section>

    <footer>
        <p>&copy; 2024 Mi Negocio de Mantenimiento de Motores Eléctricos</p>
    </footer>
</body>
</html>
