<!-- Archivo: templates/index.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static/ROCA1.png" type="image/x-icon">
    <link rel="shortcut icon" href="static/ROCA1.png" type="image/x-icon">


  
    <title>ROCA - Embobinados y Motores</title>
    <div class="logo">
        <img src="static/ROCA1.png" alt="Logo de tu empresa">
    </div>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/informacion">Contacto</a></li>
            <li><a href="/galeria">Galeria</a></li>
            <li><a href="/educacion">Educación</a></li>
        </ul>
        <!-- Agrega tu número de teléfono debajo y a la derecha del encabezado -->
        <!-- Agrega tu número de teléfono debajo y a la derecha del encabezado -->
        <div class="contact-info">
            <p><a href="https://wa.me/527221181100" target="_blank">Contacto por WhatsApp: +52 722 118 1100</a></p>
        </div>
    </nav>

    <header>
        <h1>ROCA  MOTORES ELÉCTRICOS</h1>
      
     <h3>Contamos con soluciones para diferentes áreas,</h3>
     <h3>principalmente en el sector Eléctrico e Industrial.</h3>

        
    </header>



    <section id="otros-servicios">
        <h2> REPARACION, MANTENIMIENTO Y SERVICIOS:</h2> 
        <ul class="two-column-list">
            
            <li>▶    Motores C.A Y C.D velocidad variable, sincronos y anillos rozantes.</li>
            <li>▶    Servomotores</li>
            <li>▶    Generadores</li>
            <li>▶    Bombas Hidraulicas y sumergibles</li>
            <li>▶    Transformadores y Autotransformadores</li>
            <li>▶    Reductores</li>
            <li>▶    Instalaciones eléctricas</li>
            <li>▶    Torno</li>
            <li>▶    Mantenimiento a subestaciones</li>
        </ul>
    </section>
    




    <section id="Trabajos">
        <h2>SOLUCIONES A MEDIDA</h2>
        <div class="work-container">
           
            <div class="work">
                <h3>REPARACION</h3>
                <p>Restauramos la potencia y eficiencia de tu motor eléctrico con nuestro servicio de rebobinado, utilizando técnicas avanzadas y materiales de calidad.</p>
            </div>
            <div class="work">
                <h3>REBOBINADO</h3>
                <p>Solucionamos rápidamente cualquier problema eléctrico o mecánico que pueda surgir en tu motor, gracias a nuestro equipo experto y recursos especializados.</p>
            </div>
            <div class="work">
                <h3>MANTENIMIENTO</h3>
                <p>Garantizamos la durabilidad y rendimiento óptimo de tu motor con nuestros servicios de mantenimiento preventivo, que incluyen inspecciones regulares y ajustes necesarios.</p>
            </div>
        </div>
    </section>
    

    <section id="services">
        <h2>ULTIMOS TRABAJOS</h2>
        <div class="service">
            <img src="static/MCD4.jpeg" alt="Servicio 1">
            <div class="service-info">
                <h2><br><br>⚡ Reparación de rotor de motor de corriente directa para generador.⚡ </h2>
            
            </div>
        </div>
        <div class="service">
            <img src="static/MR7.jpeg" alt="Servicio 2">
            <div class="service-info">
                <h2> <br><br> ⚡ Cambio de conexión de motores trifasicos de 220V a 440V . ⚡     </h2>
                
            </div>
        </div>
        <!-- Repite para los demás servicios -->
    </section>


    <section id="about-us">
        <h2>Conócenos</h2>
        <p>Somos un equipo de expertos en mantenimiento y reparación de motores eléctricos,
             comprometidos con la calidad y la eficiencia. Con años de experiencia en el campo, garantizamos 
             soluciones confiables para tus necesidades.</p>
             <br>
        <p>Nos enorgullecemos de utilizar las últimas
             tecnologías computacionales, respaldadas por una sólida experiencia 
             tanto teórica como práctica. 
             Nuestro equipo está constantemente actualizado en las últimas innovaciones del sector, lo que nos
              permite ofrecer soluciones precisas y eficientes para todas las necesidades de nuestros clientes.</p>
    </section>

    <section id="contact">
        <h2>Contacto</h2>
        <p>¡Contáctanos para obtener más información o programar nuestros servicios!</p>
        <address>
            Dirección: <strong>Tu Dirección</strong><br>
            Teléfono: <strong>722-118-1100</strong><br>
            Correo Electrónico: <strong>tucorreo@example.com</strong>
        </address>
    </section>


    <footer>
        <p>&copy; ROCA Embobinados y Motores S.A de C.V</p>
    </footer>
</body>
</html>
