<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static/ROCA1.png" type="image/x-icon">
    <link rel="shortcut icon" href="static/ROCA1.png" type="image/x-icon">
    <title>Contacto - ROCA Embobinados y motores</title>
</head>
<div class="logo">
    <img src="static/ROCA1.png" alt="Logo de tu empresa">
</div>

</head>

<section id="contact1" class="contact-section">
    <h2>Contacto</h2>
    <p> Para obtener más información  comunicate con nosotros y siguenos en nuestras redes sociales.</p>
    
    
        <p><a href="https://wa.me/527221181100" target="_blank">Contacto por WhatsApp: +52 722 118 1100</a></p>
    
    
    <address>
        Dirección: <strong>Tu Dirección</strong><br>
        Teléfono: <strong>722-118-1100</strong><br>
        Correo Electrónico: <strong>tucorreo@example.com</strong>
    </address>
</section>
<footer>
    <p>&copy;  ROCA Embobinados y Motores S.A de C.V</p>
</footer>

